
.carte{
    
    width: 70%;
    margin-left:30px;
    display:flex;
   
    justify-content: space-between;
    justify-content: center;
    border:1px solid black;
    border-left: transparent;
    border-right: transparent;
   

    
    
}
.image-produit{
    width: 20%;
    display:flex;
   
    align-items: center;
}

img{
    width: 100%;
    object-fit: cover;
    display: block;
    
    
    
}

.info-produit{
    width: 80%;
    background-color: #F3F3F3;
    
}

p,label
{
 text-align: left;
 margin-left:20px;
 font-size: 16px;
 margin-bottom:4px;
}

h2{
    text-align: center;
    margin-top:5px;
    margin-bottom:5px;
}
h1{
    font-size:24px;
    text-align: center;
}
button{
    display:block;
    font-size: 14px;
    margin-left:30px;
    margin-top:10px;
    
}