a{
    text-decoration: none;
}
/* la partie du header */
div.client-inf{
    display:flex;
}
div.container-upper{
    width: 100%;
    height: 150px;
    display:flex;
    justify-content: space-between;
    background-color: #F2E8F0;
    margin-bottom: 30px;
    
}
div.image-logo{
    margin-left:20px;
    margin-top: 20px;
    width: 20%;
}
div.image-logo img{
    width: 100%;
    object-fit: cover;
}
div.client-inf{
    margin-right:10px;
    
}
div.client-inf div#contact,div.client-inf div#panier{
    margin-right:10px;
    text-align: center;
    margin-top:20px;
}
div.client-inf div#contact p,div.client-inf div#panier p{
    margin-top:20px;
    font-size:18px;
}
div.recherche {
    width: 40%;
    position: relative;
}
div.recherche input{
    width: 100%;
    height: 50px;
    margin-top:50px;
    border:1px solid black;
    
}    
div.recherche a{
    display:block;
    position:absolute;
    width: 50px;
    height: 52px;
    border-left:1px solid black;
    text-align: center;
    line-height:50px;
    right: -5px;;
    top:50px;
    font-size:20px;
}
@media (max-width:600px){
    div.recherche{
        left:-50px;
    }
    div.image-logo{
        width: 160px;
    }
    div.recherche a{
        width: 30px;
    }
}
main{
    width: 95%; 
    margin:auto;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
}
div.monpanier{
    width:70%;
    background-color: #F3F3F3;
   
}

.carte{
    
    width: 90%;
   
    display:flex;
   
    justify-content: space-between;
    justify-content: center;
    border:1px solid black;
    border-left: transparent;
    border-right: transparent;
    background-color: white;
    margin: auto;
    

    
    
}
.image-produit{
    width: 20%;
    display:flex;
   
    align-items: center;
}

img{
    width: 100%;
    object-fit: cover;
    display: block;
    
    
    
}

.info-produit{
    width: 80%;
   
    
}

p,label
{
 text-align: left;
 margin-left:20px;
 font-size: 16px;
 margin-bottom:4px;
}

h2{
    text-align: center;
    margin-top:5px;
    margin-bottom:5px;
}
h1{
    font-size:24px;
    margin-left:5%;
    padding-top:20px;
}
button{
    display:block;
    font-size: 14px;
    margin-left:30px;
    margin-top:10px;
    
}
#command{
    width: 25%;
    background-color: red;
}