div.client-inf{
    display:flex;
}
div.container-upper{
    width: 100%;
    height: 150px;
    display:flex;
    justify-content: space-between;
    background-color: #F2E8F0;
    margin-bottom: 30px;
    
}
div.image-logo{
    margin-left:20px;
    margin-top: 20px;
    width: 20%;
}
div.image-logo img{
    width: 100%;
    object-fit: cover;
}
div.client-inf{
    margin-right:10px;
    
}
div.client-inf div#contact,div.client-inf div#panier{
    margin-right:10px;
    text-align: center;
    margin-top:20px;
}
div.client-inf div#contact p,div.client-inf div#panier p{
    margin-top:20px;
    font-size:18px;
}
div.recherche {
    width: 40%;
    position: relative;
}
div.recherche input{
    width: 100%;
    height: 50px;
    margin-top:50px;
    border:1px solid black;
    
}    
div.recherche a{
    display:block;
    position:absolute;
    width: 50px;
    height: 52px;
    border-left:1px solid black;
    text-align: center;
    line-height:50px;
    right: -5px;;
    top:50px;
    font-size:20px;
}
@media (max-width:600px){
    div.recherche{
        left:-50px;
    }
    div.image-logo{
        width: 160px;
    }
    div.recherche a{
        width: 30px;
    }
}

img#image-peluche{
    display:inline-block;
    width: 30%;
    border:1px solid red;
}
div.produit-choix{
    width: 30%;
    margin:auto;
 }   
div.produit-choix h3{
    font-size:30px;
    margin-bottom: 15px;
    color:blue;
}
div.produit-choix p#desp-peluche{
    font-size: 20px;
    margin-bottom: 15px;
}
div.produit-choix p#firsprice-peluche{
    font-size:24px;
    margin-bottom:24px;
}

#label-couleur{
    margin-top:16px;
    font-size: 20px;
    
}
#form-selection{

    margin-top:20px;
    font-size:20px;
}
#quantity{
    font-size:20px;
    
    margin-top:20px;
}
#quantity-select {
    font-size:20px;
}
select, option{
    
    color:blue;

}
div.panier{
    width: 30%;
    margin:auto;
   
}
div.panier h3{
    font-size:20px;
    margin-bottom:25px;
}
div.panier button{
    font-size:20px;
    color:blue;
    background-color:#F2E8F0;
    padding:10px 25px 10px 25px;
    border-radius: 15px;
    
    

}
div.container-produit{
    display:flex;
    padding-bottom:30px;
    border-bottom:1px solid red;
}