header{
    width: 95%;
    margin:auto;
    margin-top:20px;
    margin-bottom:30px;
    /* height:160px; */
    background-color:#F2E8F0;
    padding-top:20px;
    padding-bottom: 20px;
    display:flex;
    justify-content: space-between;
    
}
input.chercher{
    margin-left:0;
    height:36px;
    width: 90%;
    margin-bottom:20px
    
    
}

a.btnRecherche{
    display:block;
    height:40px;
    width:40px;
    text-align: center;
    background-color: white;
    line-height: 40px;
    border:1px solid black;
    border-left: transparent;
}
div.recherche{
    display:flex;
    width:100%;
    margin:auto;
    justify-content: center;
    margin-bottom: 20px;


}
ul.catalogue{
    display:flex;
    justify-content: space-around;
}
div.catalogue{
    display:flex;
    flex-direction: column;
    width: 50%;
    margin:auto;
}
img.logo{
    
    width:250px;
}
div#panier{
    margin-left:30px;
    margin-right:20px;
    margin-left:50px;
    font-size:18px;
    
}
div#panier i{
    display:block;
    text-align:center;
    margin-bottom:10px;
}

div#contact{
    margin-left:30px;
    margin-right:20px;
    margin-left:50px;
    font-size:18px;
    
}
div#contact i{
    display:block;
    text-align:center;
    margin-bottom:10px;
}
div#peluche,div#camera,div#furniture{
    width:95%;
    background-color: #f2f2f2;
    margin:auto;
    padding-top:80px;
    padding-bottom:30px;
    border-radius: 20px;
    position: relative;
    margin-bottom: 30px;
}
div#peluche h2,div#camera h2,div#furniture h2{
    position:absolute;
    left: 35px;
    top:30px;
    font-size:25px;
    font-weight: 800;
    color:blue;

}
div#peluche-list,div#camera-list,div#furniture-list{
    width: 100%;
    display:flex;
    

    flex-wrap:wrap;
    
    
 }   
    

div.first-peluche,div.second-peluche,div.third-peluche,div.forth-peluche,div.fifth-peluche,
div.first-camera,div.second-camera,div.third-camera,div.forth-camera,div.fifth-camera,
div.first-furniture,div.second-furniture,div.third-furniture,div.forth-furniture,div.fifth-furniture

{
    width: 18%;
    min-width: 250px;
    height: 400px;
    background-color:pink;
    box-shadow: 2px 2px 10px pink;
    margin:auto;
    border-radius: 15px;
    margin-bottom:20px;
    
}
div.first-peluche img#first,div.second-peluche img#second,div.third-peluche img#third,div.forth-peluche img#forth,div.fifth-peluche img#fifth,
div.first-camera img#first,div.second-camera img#second,div.third-camera img#third,div.forth-camera img#forth,div.fifth-camera img#fifth,
div.first-furniture img#first,div.second-furniture img#second,div.third-furniture img#third,div.forth-furniture img#forth,div.fifth-furniture img#fifth

{
    width: 100%;
    display:block;
    height:250px;
    margin:auto;
    border-radius: 15px 15px 0 0 ;
    object-fit: cover;
}

div.first-peluche p#firstdesp,div.second-peluche p#seconddesp,div.third-peluche p#thirddesp,div.forth-peluche p#forthdesp,div.fifth-peluche p#fifthdesp,
div.first-camera p#firstdesp,div.second-camera p#seconddesp,div.third-camera p#thirddesp,div.forth-camera p#forthdesp,div.fifth-camera p#fifthdesp,
div.first-furniture p#firstdesp,div.second-furniture p#seconddesp,div.third-furniture p#thirddesp,div.forth-furniture p#forthdesp,div.fifth-furniture p#fifthdesp
{
    width: 95%;
    margin-left:15px;
    margin-top:10px;
    margin-bottom:15px;
    font-size:16px;
    
}

div.first-peluche p#firstprice,div.second-peluche p#secondprice,div.third-peluche p#thirdprice,div.forth-peluche p#forthprice,div.fifth-peluche p#fifthprice,
div.first-camera p#firstprice,div.second-camera p#secondprice,div.third-camera p#thirdprice,div.forth-camera p#forthprice,div.fifth-camera p#fifthprice,
div.first-furniture p#firstprice,div.second-furniture p#secondprice,div.third-furniture p#thirdprice,div.forth-furniture p#forthprice,div.fifth-furniture p#fifthprice

{
    
    margin-left:15px;
    margin-top:10px;
    font-size:18px;
    font-weight:400;
    
}
div.first-peluche h3#firstitle,div.second-peluche h3#secondtitle,div.third-peluche h3#thirdtitle,div.forth-peluche h3#forthtitle,div.fifth-peluche h3#fifthtitle,
div.first-camera h3#firstitle,div.second-camera h3#secondtitle,div.third-camera h3#thirdtitle,div.forth-camera h3#forthtitle,div.fifth-camera h3#fifthtitle,
div.first-furniture h3#firstitle,div.second-furniture h3#secondtitle,div.third-furniture h3#thirdtitle,div.forth-furniture h3#forthtitle,div.fifth-furniture h3#fifthtitle{
    width: 100%;
    text-align: center;
    margin-top:10px;
    font-size: 20px;
    
}

