header{
    width: 85%;
    margin:auto;
    margin-top:20px;
    margin-bottom:30px;
    /* height:160px; */
    background-color:#F2E8F0;
    padding-top:20px;
    padding-bottom: 20px;
    display:flex;
    justify-content: space-between;
    
}
input.chercher{
    margin-left:0;
    height:36px;
    width: 90%;
    margin-bottom:20px
    
    
}

a.btnRecherche{
    display:block;
    height:40px;
    width:40px;
    text-align: center;
    background-color: white;
    line-height: 40px;
    border:1px solid black;
}
div.recherche{
    display:flex;
    width:100%;
    margin:auto;
    justify-content: center;
    margin-bottom: 20px;


}
ul.catalogue{
    display:flex;
    justify-content: space-around;
}
div.catalogue{
    display:flex;
    flex-direction: column;
    width: 50%;
    margin:auto;
}
img.logo{
    
    width:250px;
}
div#panier{
    margin-left:30px;
    margin-right:20px;
    margin-left:50px;
    font-size:18px;
    
}
div#panier i{
    display:block;
    text-align:center;
    margin-bottom:10px;
}

div#contact{
    margin-left:30px;
    margin-right:20px;
    margin-left:50px;
    font-size:18px;
    
}
div#contact i{
    display:block;
    text-align:center;
    margin-bottom:10px;
}

div.first-peluche{
    width: 350px;
    height: 380px;
    background-color: pink;
    box-shadow: 2px 2px 10px black;
    margin:auto;
    border-radius: 15px;
}
div.first-peluche img#first{
    width: 100%;
    display:block;
    margin:auto;
    border-radius: 15px 15px 0 0 ;
}

div.first-peluche p#firstdesp{
    width: 95%;
    margin-left:15px;
    margin-top:15px;
    margin-bottom:15px;
    font-size:16px;
}
div.first-peluche p#firstprice{
    margin-left:15px;
    margin-top:20px;
    font-size:18px;
    font-st;
}


main img{
    width: 150px;

}