div.client-inf{
    display:flex;
}
div.container-upper{
    width: 100%;
    height: 150px;
    display:flex;
    justify-content: space-between;
    background-color: #F2E8F0;
    margin-bottom: 30px;
    
}
div.image-logo{
    margin-left:20px;
    margin-top: 20px;
    width: 20%;
}
div.image-logo img{
    width: 100%;
    object-fit: cover;
}
div.client-inf{
    margin-right:10px;
    
}
div.client-inf div#contact,div.client-inf div#panier{
    margin-right:10px;
    text-align: center;
    margin-top:20px;
}
div.client-inf div#contact p,div.client-inf div#panier p{
    margin-top:20px;
    font-size:18px;
}
div.recherche {
    width: 40%;
    position: relative;
}
div.recherche input{
    width: 100%;
    height: 50px;
    margin-top:50px;
    border:1px solid black;
    
}    
div.recherche a{
    display:block;
    position:absolute;
    width: 50px;
    height: 52px;
    border-left:1px solid black;
    text-align: center;
    line-height:50px;
    right: -5px;;
    top:50px;
    font-size:20px;
}
@media (max-width:600px){
    div.recherche{
        left:-50px;
    }
    div.image-logo{
        width: 160px;
    }
    div.recherche a{
        width: 30px;
    }
}



div#peluche,div#camera,div#furniture{
    width:95%;
    background-color: #f2f2f2;
    margin:auto;
    padding-top:80px;
    padding-bottom:30px;
    border-radius: 20px;
    position: relative;
    margin-bottom: 30px;
}
div#peluche h2,div#camera h2,div#furniture h2{
    position:absolute;
    left: 35px;
    top:30px;
    font-size:25px;
    font-weight: 800;
    color:blue;

}
div#peluche-list,div#camera-list,div#furniture-list{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
    
    
   
}   



div.first-peluche,div.second-peluche,div.third-peluche,div.forth-peluche,div.fifth-peluche,
div.first-camera,div.second-camera,div.third-camera,div.forth-camera,div.fifth-camera,
div.first-furniture,div.second-furniture,div.third-furniture,div.forth-furniture,div.fifth-furniture

{
    width: 18%;
    
    height: 400px;
    background-color:pink;
    box-shadow: 2px 2px 10px pink;
    
    border-radius: 15px;
    margin-bottom:20px;
   
    
    
}
div.first-peluche img#first,div.second-peluche img#second,div.third-peluche img#third,div.forth-peluche img#forth,div.fifth-peluche img#fifth,
div.first-camera img#first,div.second-camera img#second,div.third-camera img#third,div.forth-camera img#forth,div.fifth-camera img#fifth,
div.first-furniture img#first,div.second-furniture img#second,div.third-furniture img#third,div.forth-furniture img#forth,div.fifth-furniture img#fifth

{
    width: 100%;
    display:block;
    height:250px;
    margin:auto;
    border-radius: 15px 15px 0 0 ;
    object-fit: cover;
}

div.first-peluche p#firstdesp,div.second-peluche p#seconddesp,div.third-peluche p#thirddesp,div.forth-peluche p#forthdesp,div.fifth-peluche p#fifthdesp,
div.first-camera p#firstdesp,div.second-camera p#seconddesp,div.third-camera p#thirddesp,div.forth-camera p#forthdesp,div.fifth-camera p#fifthdesp,
div.first-furniture p#firstdesp,div.second-furniture p#seconddesp,div.third-furniture p#thirddesp,div.forth-furniture p#forthdesp,div.fifth-furniture p#fifthdesp
{
    width: 90%;
    margin-left:15px;
    margin-top:25px;
    margin-bottom:15px;
    font-size:16px;
    margin:auto;
    text-align: justify;
    font-weight: 100;
    color:grey;
}

div.first-peluche p#firstprice,div.second-peluche p#secondprice,div.third-peluche p#thirdprice,div.forth-peluche p#forthprice,div.fifth-peluche p#fifthprice,
div.first-camera p#firstprice,div.second-camera p#secondprice,div.third-camera p#thirdprice,div.forth-camera p#forthprice,div.fifth-camera p#fifthprice,
div.first-furniture p#firstprice,div.second-furniture p#secondprice,div.third-furniture p#thirdprice,div.forth-furniture p#forthprice,div.fifth-furniture p#fifthprice

{
    
    margin-left:15px;
    margin-top:10px;
    font-size:18px;
    font-weight:400;
    
}
div.first-peluche h3#firstitle,div.second-peluche h3#secondtitle,div.third-peluche h3#thirdtitle,div.forth-peluche h3#forthtitle,div.fifth-peluche h3#fifthtitle,
div.first-camera h3#firstitle,div.second-camera h3#secondtitle,div.third-camera h3#thirdtitle,div.forth-camera h3#forthtitle,div.fifth-camera h3#fifthtitle,
div.first-furniture h3#firstitle,div.second-furniture h3#secondtitle,div.third-furniture h3#thirdtitle,div.forth-furniture h3#forthtitle,div.fifth-furniture h3#fifthtitle{
    width: 100%;
    text-align: center;
    margin-top:10px;
    margin-bottom:10px;
    font-size: 20px;
    
}

